@import url(http://fonts.googleapis.com/css?family=Raleway);

/*Background - Start*/

html,
body {
    height: 100%;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a {
    font-family: Raleway, sans-serif;
    color: white;
    font-size: 30px;
}

a:hover {
    color: gray;
}


/*Background - End*/


/*Title - Start*/

.navbar-inverse .container-fluid .navbar-header .navbar-brand {
    font-family: Raleway, sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: #295f48;
}


/*Title - End*/


/*Nav Bar - Start*/

.navbar-inverse .container-fluid .navbar-nav {
    font-family: Raleway, sans-serif;
}


/*Nav Bar - End*/